@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
}

/* Original Styles */
:root {
  --primary-color: #24355c;
}

html,
body,
header,
.jarallax {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 500px;
  }

}

@media (max-width: 414px) {
  #home .row div {
    margin-top: 2.2rem;
  }

  #home h1 {
    font-size: 2.2rem;
  }

  #lead-heading-text {
    font-size: 1.3rem;
  }

}


@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .jarallax {
      height: 600px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #24355c!important;
    }
    .navbar {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
    }
}

.main-color {
  background-color: var(--primary-color);
}

.transport-lp .icon-area .circle-icon i {
  background-color: var(--primary-color);
}

.blue-text {
  color: var(--primary-color);
}

.btn-blue {
  color: #fff;
  background-color: var(--primary-color);
}

#home {
    background: url('../img/high-speed-car.jpg') no-repeat center center/cover;
}

hr {
  max-width: 1100px;
}

i.fab {
  color: #fff;
}

#streak {
    background: url('../img/atardecer-2.jpg') no-repeat center -250px;
    background-attachment: local;
}

#streak h1 {
  font-size: 1.9rem;
  font-style: italic;
}

#streak h2 {
  font-size: 1.2rem;
}

#card {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');
}

/* Custom Styles */
.navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
}

nav ul li a {
  border-radius: 10px;
}

nav ul li.nav-item a.nav-link:hover {
  background-color: #3D52D5;
}

#logo-img {
    height: 50px;
}

.navbar-brand {
  padding: 10px;
  border-radius: 10px;
}

.navbar-brand:hover {
  background-color: #3D52D5;
}

#service-row div {
  margin-top: 1.2rem;
}

#whatsapp {
  background-image: linear-gradient(180deg,#60d66a 0,#20b038);;
  color: #fff;
  max-width: 220px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2em;
  padding: 13px 20px 20px;
  display: block;
  margin: auto;
  margin-top: 20px;
  line-height: 0;
  height: 3rem;
}

#whatsapp a{
  display: inline-block;
  color: #fff;
}

#whatsapp:hover {
  background-image: linear-gradient(180deg,#20b038 0,#29bb41)
}

#lead-heading-text{
  font-size: 1.6rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

#descuento .btn {
  border-radius: 10px;
}

#descuento .btn h5 {
  font-size: 1.1rem;
  margin: 0;
}

@media screen and (max-width: 320px){
  #lead-heading-text {
    font-size: 1.2rem;
    margin-top: 0.8rem;
  }

  #home .row div {
    margin-top: 1.2rem;
  }

  #home h1 {
    font-size: 2.3rem;
  }  
}


/* #servicio-entrega .icon-area strong::after {
} */

#img-alojamiento {
  content: url('../img/atardecer-1.jpg');
}

#img-gastronomia {
  content: url('../img/gastronomia.jpg');
}

#img-actividades {
  content: url('../img/barco-2.jpg');
}

.l-text,
p.l-text {
  font-size: 1.1rem;
}

#quienes-somos-img {
  content: url('../img/car-travel-sun.jpg');
}

.container h1 {
  text-align: center;
}

.container h2 {
  text-align: center;
}

/* Contacto */
.map-container {
  height: 230px;
  position: relative;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#contacto p {
  display: inline;
}

/* Flota */
div.card-body a {
  cursor: unset;
}