/* Original Styles */
html,
body,
header,
.jarallax {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 500px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .jarallax {
      height: 600px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #24355c!important;
    }
    .navbar {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
    }
}

#home {
    background: url('../img/high-speed-car.jpg') no-repeat center center/cover;
}

#streak {
    background-image:url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%2821%29.jpg')
}

#streak h1 {
  font-size: 1.9rem;
  font-style: italic;
}

#streak h2 {
  font-size: 1.2rem;
}

#card {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');
}

/* Custom Styles */
.navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
}
#logo-img {
    height: 50px;
}

#img-alojamiento {
  content: url('../img/alojamiento.jpg');
}

#img-gastronomia {
  content: url('../img/gastronomia.png');
}

#img-actividades {
  content: url('../img/actividad.jpg');
}

.l-text,
p.l-text {
  font-size: 1.1rem;
}

#quienes-somos-img {
  content: url('../img/car-travel-sun.jpg');
}

.container h1 {
  text-align: center;
}

.container h2 {
  text-align: center;
}